.content{
	margin: 0 auto 85px;
	padding: 45px 60px;
}
.content__container{
	margin: 39px 0 0 0 ;
}
.container__info{
	display: flex;
	margin-bottom: 30px;
	flex-direction: row;
	justify-content: space-between;
}
.container__title{
	font-weight: 700;
font-size: 32px;
line-height: 39px;
}


