.header__logo {
	display: flex;
	align-items: center;
}
.logo__img {
	margin-right: 16px;
}
.logo__info {
	display: flex;
	flex-direction: column;
}
.logo__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}
.logo__subtitle {
	color: #9d9d9d;
}
